@model autorisation.Models.Meteor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы уверены в том, что хотите удалить запись?</h3>
<div>
    <h4>Nabludenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zonesky)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zonesky)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>