@model IEnumerable<autorisation.Models.A_list_of_users>

@{
    ViewBag.Title = "Prrepod";
    Layout = null;
}

<p>
    @Html.ActionLink("PAdd", "A_list_of_users")
</p>

<table class="table table-striped table-condensed" id="autorisationTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Full_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects)
            </th>
            <td>
                <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("PEdit", "A_list_of_users", new { id=@item.id})')"><i class="fa fa-pencil fa-lg"></i></a>
                <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("PDelete", "A_list_of_users", new { id=@item.id})')"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>