@{
    List<Test> tests = ViewData["Tests"] != null ? (List<Test>)ViewData["Tests"] : null;
    List<Group> groups = ViewData["Group"] != null ? (List<Group>)ViewData["Group"] : null;
    List<Discipline> disciplines = ViewData["Discipline"] != null ? (List<Discipline>)ViewData["Discipline"] : null;
}

<div>
    <h1>Список ваших тестов</h1>
    <table class="table">
        <thead>
        <tr>
        <th>Название теста</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Группа</th>
        <th>Дисциплина</th>
        <th></th>
        </tr>
        </thead>
        @foreach(var item in tests)
        {
            <tr>
            <td>
                 @item.TestName   
            </td>
            <td>
                @item.DateOfStart
            </td>
            <td>
                @item.DateOfEnd
            </td>
            <td>
                @groups.Where(a=>a.Id==item.GroupId).Select(a=>a.GroupName).FirstOrDefault()
            </td>
            <td>
                @disciplines.Where(a=>a.Id==item.DisciplineId).Select(a=>a.DisciplineName).FirstOrDefault()
            </td>
            <td>
                    <a asp-action="LookTest" asp-route-id="@item.Id">Обзор теста</a> |
                        <a asp-action="LookResults" asp-route-id="@item.Id">Результаты тестирования</a> |
                        <a asp-action="DeleteTest" asp-route-id="@item.Id">Удалить тест</a>
            </td>
            </tr>
        }

    </table>

    <hr />
    <a asp-action="MainPageTeacher" class="btn btn-primary btn-otpravit">Вернуться на главную</a>
</div>